/* /c:/MySpace/GITHUB/HotelManagementSystem/HotelManagement.UI/src/app/component/error/error.component.scss */

.error-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}